{% extends "mylibrary/base.html" %}
<head>
    {% load static %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'mylibrary/passwordchange.css' %}">
        <title>Change Password</title>
    {% endblock %}
</head>

{% block content %}
<header class="passwordchange-header">
    <h1>Change password</h1>
</header>
<main class="passwordchange-main">
    <form action="" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Change password" class="passwordchange-submit"/>
    </form>
</main>
{% endblock %}