{% extends "mylibrary/base.html" %}
<head>
    {% load static %}
    {% block head %}
        <link rel="stylesheet" href="{% static 'mylibrary/profile.css' %}">
        <title>Profile</title>
    {% endblock %}
</head>

{% block content %}
<header class="profile-header">
    <h1>Profile</h1>
</header>
<main class="profile-main">
    <a class="changepassword-button" href="{% url 'passwordchange' %}">Change password</a>
    <a class="delete-button" href="{% url 'deleteaccount' user.id %}">Delete account</a>

</main>
{% endblock %}