/* Organização do corpo */

.nextread-header {
    font-size: 0.85rem;
}

.nextread-main {
    display: flex;
    padding-top: 2rem;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    min-width: 85%;
}

form {
    border: 2px solid #333;
    padding: 3rem;
    box-shadow: 3px 3px #fab700;
}

/*  */

/* Organização dos botões */

.buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 2rem;
    gap: 2rem;
}

.submit-button {
    background-color: green;
    color: white;
    border: none;
    border-radius: 3px;
    width: 40%;
    height: auto;
    font-family: monospace;
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
}

.back-button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    width: 40%;
    height: auto;
    font-family: monospace;
    font-weight: bolder;
    font-size: 1rem;
}

.submit-button:hover, .back-button:hover {
    color: white;
    background-color: #333;
}

.submit-button:active, .back-button:active {
    animation: ease-out;
    color: white;
    background-color: #333;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
