/* Organização do corpo */

.passwordchange-header {
    font-size: 0.85rem;
}

.passwordchange-main {
    display: flex;
    padding-top: 2rem;
    flex-flow: column-reverse nowrap;
    justify-content: flex-end;
    align-items: center;
}

form {
    border: 2px solid #333;
    padding: 2rem;
    box-shadow: 3px 3px #fab700;
}

form input {
    margin-bottom: 1rem;
}

form ul {
    list-style-type: none;
    color: red;
    font-size: 0.7rem;
    margin-bottom: 1rem;
}

/* Configuração do botão */

.passwordchange-submit {
    background-color: green;
    color: white;
    border: none;
    border-radius: 3px;
    width: 40%;
    height: auto;
    font-family: monospace;
    font-weight: bolder;
    font-size: 1rem;
    cursor: pointer;
}

.passwordchange-submit:hover{
    color: white;
    background-color: #333;
}

.passwordchange-submit:active{
    animation: ease-out;
    color: white;
    background-color: #333;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}